<div class="test-btn">
  <button mat-button (click)="clearLocalStorage()" color="primary">Clear localStorage</button>
  <button mat-button (click)="check()" color="primary">Check</button>
</div>

<table mat-table [dataSource]="roadmapTable" class="table">
  <ng-container matColumnDef="technology">
    <th mat-header-cell *matHeaderCellDef>Technology</th>
    <td mat-cell *matCellDef="let element">{{ element.technology }}</td>
  </ng-container>

  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef>Theme</th>
    <td mat-cell *matCellDef="let element">{{ element.theme }}</td>
  </ng-container>

  <ng-container matColumnDef="bool">
    <th mat-header-cell *matHeaderCellDef>Ready</th>
    <td mat-cell *matCellDef="let element"><mat-checkbox (change)="addLocalStorage()" class="example-margin" [(ngModel)]="element.bool">{{element.bool}}</mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerRoadMapTable"></tr>
  <tr mat-row *matRowDef="let row; columns: headerRoadMapTable"></tr>
</table>
