<!-- Html table -->
<table mat-table [dataSource]="tableHtml" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="technology">
    <th mat-header-cell *matHeaderCellDef>Technology</th>
    <td mat-cell *matCellDef="let element">{{ element.technology }}</td>
  </ng-container>

  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef>Theme</th>
    <td mat-cell *matCellDef="let element">{{ element.theme }}</td>
  </ng-container>

  <ng-container matColumnDef="ready">
    <th mat-header-cell *matHeaderCellDef>Ready</th>
    <td mat-cell *matCellDef="let element">{{ element.ready }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerTableHtml"></tr>
  <tr mat-row *matRowDef="let row; columns: headerTableHtml"></tr>
</table>
