.mdc-data-table__table {
  margin: 0 auto;
  min-width: 80%;
  max-width: 80%;
}

.mat-mdc-button:not(:disabled) {
  color: #fff;
  background-color: darkorchid;
}

.test-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  button {
    margin-bottom: 10px;
  }
}

.cherry {
    color: red;
}