.mdc-data-table__table {
    margin: 0 auto;
    min-width: 80%;
    max-width: 80%;
}

.mat-mdc-button:not(:disabled) {
    color: var(--mdc-text-button-label-text-color, inherit);
    background-color: darkorchid;
}